mcp-server/project-planner-workflow.json
{
  "name": "Project Planner (mcp-hub)",
  "nodes": [
    {
      "id": "node_chat_trigger",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "public": false,
        "options": {}
      }
    },
    {
      "id": "node_agent",
      "name": "Project Planner",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300],
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a project planning assistant. You help users plan both new and existing projects, then document everything in Notion.\n\n## YOUR TOOLS\n- list_repos: List ALL repos (public + private) of the authenticated user — NO username needed\n- analyze_repo: Deep-analyze a specific GitHub repository (use fullName from list_repos, e.g. hsynalv/percepta_fe)\n- get_projects: List projects from Notion Projeler database\n- setup_project: Create a project + all tasks in Notion in ONE call\n- get_tasks: List tasks from Notion Yapılacaklar database\n- notion_search: Search Notion pages and databases (returns id, title, type, url)\n- notion_add_row: Add a row to ANY Notion database (Notlar, custom tables, etc) using its ID\n\n## EFFICIENCY RULES\n- If user says \"repolarımı analiz et\", \"repolarım\", \"projelerim\" or similar: IMMEDIATELY call list_repos (no args needed), show results, then ask which to analyze\n- NEVER ask for username — list_repos uses the token automatically\n- For a specific repo: analyze_repo → get_projects → setup_project (3 calls max)\n- For new projects: get_projects (check duplicate) → setup_project (2 calls max)\n- ALWAYS call setup_project with ALL tasks at once — never add tasks one by one\n- ALWAYS check for duplicates with get_projects before creating\n\n## WORKFLOW — USER ASKS TO ANALYZE THEIR REPOS\n1. Call list_repos (no parameters — uses token automatically)\n2. Show the list: name, description, language, last updated\n3. Ask: \"Hangisini analiz edeyim ve Notion'a ekleyeyim?\"\n4. After user picks: call analyze_repo, then setup_project\n\n## WORKFLOW — SPECIFIC GITHUB REPO\n1. Call analyze_repo with owner/repo (e.g. hsynalv/my-project)\n2. Summarize: what's built, what's missing, open issues\n3. Show plan to user, ask for approval\n4. After approval: call get_projects to check for duplicates\n5. Call setup_project with project details and ALL tasks\n6. Report back with Notion URL\n\n## WORKFLOW — NEW PROJECT\n1. Ask clarifying questions if needed (tech stack, timeline)\n2. Draft a structured plan with tasks\n3. Show plan to user, ask for approval or changes\n4. After approval: call get_projects to check for duplicates\n5. Call setup_project with ALL tasks at once\n6. Report back with Notion URL\n\n## NOTION FIELD VALUES\n- status: Yapılmadı | Yapılıyor | Tamamlandı\n- oncelik: Az | Normal | Yüksek\n- dates: YYYY-MM-DD format\n\n## TASK PRIORITIES\n- Yüksek: critical path, blockers, security\n- Normal: important features, bugs\n- Az: nice-to-haves, documentation\n\n## OUTPUT FORMAT\nAfter creating in Notion:\n✅ Proje oluşturuldu: \"<name>\"\n📋 <N> task eklendi\n🔗 <Notion URL>\n\nThen briefly explain what the project does and the first 3 tasks to start with.\n\n## RULES\n- Always show plan BEFORE creating in Notion\n- Never create duplicate projects\n- Keep task names short and actionable in Turkish (verb + noun)\n- Never ask for repo names if you can call list_repos instead\n- analyze_repo REQUIRES exact owner/repo format (e.g. hsynalv/percepta_fe) — always take fullName from list_repos results\n- To add a note/row to any Notion table: use notion_search to find the table ID, then notion_add_row with that ID\n- Do not explain tool calls — only show final result\n\n## HOW TO USE notion_add_row\n1. Call notion_search with the table name (e.g. \"Notlar\") to get its database ID\n2. If the row needs to link to a project, call notion_search again to find the project page ID\n3. Call notion_add_row with: databaseId, title, CONTENT (full text body of the note), and relations={\"Proje\": \"<project-page-id>\"} if linking\n4. The content field is the actual body of the note — ALWAYS provide detailed, meaningful text. Never leave content empty.\n5. Always confirm with the returned URL — NEVER ask the user to do things manually"
        }
      }
    },
    {
      "id": "node_openai",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [360, 520],
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "node_memory",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [500, 520],
      "parameters": {
        "contextWindowLength": 20
      }
    },
    {
      "id": "node_tool_list_repos",
      "name": "list_repos",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [500, 520],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/github/repos",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "sort", "value": "pushed" },
            { "name": "limit", "value": "50" },
            { "name": "type", "value": "all" }
          ]
        },
        "sendBody": false,
        "options": {},
        "toolDescription": "List ALL repositories (public AND private) belonging to the authenticated GitHub user. No parameters needed — uses the configured GitHub token automatically. Returns repo names, descriptions, languages and last push dates. Use this FIRST when the user says 'my repos', 'repolarım', or asks to analyze their projects."
      }
    },
    {
      "id": "node_tool_analyze_repo",
      "name": "analyze_repo",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [640, 520],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/github/analyze",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "repo",
              "value": "={{ $fromAI('repo', 'GitHub repository in owner/repo format, e.g. hsynalv/mcp-hub. Get from list_repos fullName field.') }}"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "toolDescription": "Analyze a GitHub repository in depth. Pass repo as owner/repo (e.g. hsynalv/mcp-hub). Get the exact fullName from list_repos first. Returns metadata, file tree, commits, issues and README."
      }
    },
    {
      "id": "node_tool_get_projects",
      "name": "get_projects",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [780, 520],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/notion/projects",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $fromAI('status', 'Optional filter: Yapılmadı, Yapılıyor, or Tamamlandı. Leave empty to get all projects.') }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "toolDescription": "List projects from the Notion Projeler database. Use to check for existing projects before creating a new one. Optional status filter: Yapılmadı, Yapılıyor, Tamamlandı."
      }
    },
    {
      "id": "node_tool_setup_project",
      "name": "setup_project",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [920, 520],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8787/notion/setup-project",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $fromAI('name', 'Project name (string)') }}"
            },
            {
              "name": "status",
              "value": "={{ $fromAI('status', 'Project status: Yapılmadı or Yapılıyor or Tamamlandı') }}"
            },
            {
              "name": "oncelik",
              "value": "={{ $fromAI('oncelik', 'Project priority: Az or Normal or Yüksek') }}"
            },
            {
              "name": "baslangic",
              "value": "={{ $fromAI('baslangic', 'Start date YYYY-MM-DD, or empty string if not set') }}"
            },
            {
              "name": "bitis",
              "value": "={{ $fromAI('bitis', 'End date YYYY-MM-DD, or empty string if not set') }}"
            },
            {
              "name": "tasks",
              "value": "={{ $fromAI('tasks', 'JSON array string of tasks. Example: [{\"gorev\":\"Task 1\"},{\"gorev\":\"Task 2\",\"sonTarih\":\"2026-03-15\"}]') }}"
            }
          ]
        },
        "options": {},
        "toolDescription": "Create a project in Notion Projeler database AND add all tasks to Yapılacaklar database in ONE call. Send each field separately: name (string), status (Yapılmadı/Yapılıyor/Tamamlandı), oncelik (Az/Normal/Yüksek), baslangic (YYYY-MM-DD or empty), bitis (YYYY-MM-DD or empty), tasks (JSON array string like [{\"gorev\":\"task name\",\"sonTarih\":\"2026-03-15\"}]). Always include ALL tasks at once."
      }
    },
    {
      "id": "node_tool_get_tasks",
      "name": "get_tasks",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1060, 520],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/notion/tasks",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "projeId",
              "value": "={{ $fromAI('projeId', 'Optional: Notion project ID to filter tasks for a specific project') }}"
            },
            {
              "name": "tamamlandi",
              "value": "={{ $fromAI('tamamlandi', 'Optional: true or false to filter by completion status') }}"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "toolDescription": "List tasks from Notion Yapılacaklar database. Optional filters: projeId (Notion project page ID) and tamamlandi (true/false)."
      }
    },
    {
      "id": "node_tool_notion_search",
      "name": "notion_search",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1200, 520],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/notion/search",
        "sendHeaders": false,
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $fromAI('q', 'Search query to find pages or databases in Notion') }}"
            },
            {
              "name": "type",
              "value": "={{ $fromAI('type', 'Optional: page or database') }}"
            }
          ]
        },
        "sendBody": false,
        "options": {},
        "toolDescription": "Search Notion pages and databases by keyword. Use to find existing content before creating duplicates. Returns id, title, type, url for each result."
      }
    },
    {
      "id": "node_tool_notion_add_row",
      "name": "notion_add_row",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1340, 520],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8787/notion/row",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "databaseId",
              "value": "={{ $fromAI('databaseId', 'Notion database ID from notion_search results (.id field)') }}"
            },
            {
              "name": "title",
              "value": "={{ $fromAI('title', 'Title/name of the new row') }}"
            },
            {
              "name": "content",
              "value": "={{ $fromAI('content', 'Main text content of the note/row. Use plain text with double newlines between paragraphs. This will be added as page body content, not just the title.') }}"
            },
            {
              "name": "relations",
              "value": "={{ $fromAI('relations', 'Optional JSON string: map relation field names to page IDs. Example: {\"Proje\": \"page-id\"}. Use empty string if not needed.') }}"
            }
          ]
        },
        "options": {},
        "toolDescription": "Add a new row to ANY Notion database (Notlar, Projeler, etc) WITH full content. Required: databaseId (from notion_search .id), title (row heading), content (the actual text body of the note — always provide detailed content, not just a title). Optional: relations JSON string like {\"Proje\": \"project-page-id\"} to link to another page. Always include meaningful content in the note body."
      }
    }
  ],
  "connections": {
    "Chat": {
      "main": [
        [{ "node": "Project Planner", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [{ "node": "Project Planner", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memory": {
      "ai_memory": [
        [{ "node": "Project Planner", "type": "ai_memory", "index": 0 }]
      ]
    },
    "list_repos": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "analyze_repo": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "get_projects": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "setup_project": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "get_tasks": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "notion_search": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    },
    "notion_add_row": {
      "ai_tool": [
        [{ "node": "Project Planner", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
